USE [master]
GO
/****** Object:  Database [dbFarmKart]    Script Date: 03/01/2021 21:45:32 ******/
CREATE DATABASE [dbFarmKart] ON  PRIMARY 
( NAME = N'dbFarmKart', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbFarmKart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbFarmKart_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbFarmKart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbFarmKart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbFarmKart]
GO
/****** Object:  Table [dbo].[tblregisteruser]    Script Date: 03/01/2021 21:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblregisteruser](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[mobileno] [int] NULL,
	[emailid] [varchar](max) NULL,
	[state] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[username] [varchar](max) NULL,
	[password] [varchar](max) NULL,
 CONSTRAINT [PK_tblregisteruser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
